.Modal {
	--max-height: 80vh;
	--title-height: 50px;
	--padding: 20px;

	position: fixed;
	width: max-content;
	height: max-content;
	max-height: var(--max-height);
	max-width: 90vw;
	background-color: var(--color-surface);
	padding: var(--padding);
	z-index: var(--z-index-modal);
	box-shadow: 0 5px 10px var(--color-shadow);
	box-sizing: border-box;
	transition: all 0.3s ease-out;

	.title {
		height: var(--title-height);
	}

	.container {
		display: flex;
		max-height: calc(var(--max-height) - var(--padding) * 2);
		overflow: auto;

		.content {
			display: flex;
			flex-direction: column;
			gap: 10px;
		}

		&[data-has-title="true"] {
			max-height: calc(var(--max-height) - var(--title-height) - var(--padding) * 2);
		}
	}
}

.Modal-CloseButton {
	position: absolute;
	top: 10px;
	right: 10px;
	height: max-content;
	width: max-content;
}
