
.Modal {
    position: fixed;
    width: max-content;
    height: max-content;
    background-color: var(--color-surface);
    padding: 20px;
    z-index: var(--z-index-modal);
    box-shadow: 0 2px 8px var(--color-shadow);
    box-sizing: border-box;
    transition: all 0.3s ease-out;

}

.Modal-CloseButton {
    position: absolute;
    top: 5px;
    right: 5px;
    height: max-content;
    width: max-content;
}