@font-face {
	font-family: 'Manrope';
	font-style: normal;
	font-weight: 400;
	src: local(''), url('/fonts/Manrope-VariableFont_wght.ttf') format('tff'),
		url('/fonts/Manrope-VariableFont_wght.ttf') format('tff');
}