:root {
	/* Font Families */
	--font-primary: 'Manrope Variable', sans-serif;

	/* Font Sizes */
    --x-small-font-size: 14px;
	--small-font-size: 16px;
	--medium-font-size: 1.15rem;
	--large-font-size: 1.25rem;
    --x-large-font-size: 1.5rem;
    --xx-large-font-size: 2.5rem;
    --xxx-large-font-size: 3.5rem;

    /* Z-Index */
    --z-index-base: 0;
    --z-index-overlay: 100;
    --z-index-modal: 200;
    --z-index-notification: 300;

	/* Colors */
    /* - Primary */
	--color-primary: #5cf05c;
	--color-primary-light: rgb(43, 224, 43);
	--color-primary-dark: #1dc21d;
    /* - Secondary */
	--color-secondary: #ac2af3;
	--color-secondary-light: #c53cf3;
	--color-secondary-dark: #8e24aa;
    /* - Shadows */
    --color-shadow: rgba(0, 0, 0, 0.4);
    --color-shadow-light: rgba(0, 0, 0, 0.2);
    --color-shadow-dark: rgba(0, 0, 0, 0.8);
}

@media (prefers-color-scheme: light) {
	:root {
		--color-surface: #e4e7eb;
		--color-surface-contrast: #000000;
		--color-text: #333333;
		--color-text-contrast: #ffffff;
        --color-text-muted: #666666;
	}
}

@media (prefers-color-scheme: dark) {
	:root {
		--color-surface: #333333;
		--color-surface-contrast: #ffffff;
		--color-text: #ffffff;
		--color-text-contrast: #000000;
        --color-text-muted: #cccccc;
	}
}
