:root {
	/* Font Families */
	--font-primary: 'Poppins';

	/* Font Sizes */
    --x-small-font-size: 12px;
    --small-font-size: 14px;
    --base-font-size: 16px;
    --medium-font-size: 20px;
    --large-font-size: 26px;
    --x-large-font-size: 32px;
    --xx-large-font-size: 40px;
    --xxx-large-font-size: 52px;

    /* Z-Index */
    --z-index-base: 0;
    --z-index-overlay: 10;
    --z-index-modal: 20;
    --z-index-notification: 30;

	/* Colors */
    /* - Background */
    --color-surface: #181620;
    --color-surface-muted: #2c293b;
    --color-surface-contrast: #ffffff;
    --color-surface-destructive: #e93f41;
    /* - Text */
    --color-text: #ffffff;
    --color-text-contrast: #000000;
    --color-text-muted: #cccccc;
    --color-text-destructive: #e93f41;
    /* - Primary */
    --color-primary: #A3C4BC;
	--color-primary-light: #b5d8d0;
	--color-primary-dark: #8aa59e;
    /* - Secondary */
	--color-secondary: #BFD7B5;
	--color-secondary-light: #cbe5bf;
	--color-secondary-dark: #a4b79c;
    /* - Tertiary */
    --color-tertiary: #BFD7B5;
    --color-tertiary-light: #c9e2be;
    --color-tertiary-dark: #a8bc9f;
    /* - Shadows */
    --color-shadow-light: rgba(220, 220, 220, 0.8);
    --color-shadow: rgba(194, 194, 194, 0.6);
    --color-shadow-dark: rgba(56, 56, 56, 0.8);
}

@media screen and (min-width: 35.5em) {
    :root {
        /* Font Sizes */
        --x-small-font-size: 12px;
        --small-font-size: 14px;
        --base-font-size: 16px;
        --medium-font-size: 24px;
        --large-font-size: 30px;
        --x-large-font-size: 36px;
        --xx-large-font-size: 44px;
        --xxx-large-font-size: 56px;
    
    }
}
@media screen and (min-width: 48em) {
    :root {
        /* Font Sizes */
        --x-small-font-size: 12px;
        --small-font-size: 14px;
        --base-font-size: 16px;
        --medium-font-size: 26px;
        --large-font-size: 32px;
        --x-large-font-size: 38px;
        --xx-large-font-size: 46px;
        --xxx-large-font-size: 58px;
    }
}
@media screen and (min-width: 64em) {
    :root {
        /* Font Sizes */
        --x-small-font-size: 12px;
        --small-font-size: 14px;
        --base-font-size: 16px;
        --medium-font-size: 28px;
        --large-font-size: 34px;
        --x-large-font-size: 40px;
        --xx-large-font-size: 48px;
        --xxx-large-font-size: 60px;
    }

}
@media screen and (min-width: 80em) {
    :root {
        /* Font Sizes */
        --x-small-font-size: 12px;
        --small-font-size: 14px;
        --base-font-size: 16px;
        --medium-font-size: 30px;
        --large-font-size: 36px;
        --x-large-font-size: 42px;
        --xx-large-font-size: 50px;
        --xxx-large-font-size: 62px;
    }
}
