
.Checkbox-Container > .Checkbox {
    display: inline-block;
    position: relative;
    cursor: pointer;
}
.Checkbox-Container > .Checkbox > label {
    size: 1rem;
    color: var(--text-color);
}

/** Disabled **/
.Checkbox-Container[data-disabled=true] {
    cursor: not-allowed;
}
.Checkbox-Container[data-disabled=false] {
    cursor: pointer;
}