.Checkbox-Container > .Checkbox {
	position: relative;
	cursor: pointer;
	height: 20px;
	width: 20px;
}
.Checkbox-Container > .Checkbox > label {
	size: 1rem;
	color: var(--text-color);
}

/** Disabled **/
.Checkbox-Container[data-disabled='true'] {
	cursor: not-allowed;
}
.Checkbox-Container[data-disabled='false'] {
	cursor: pointer;
}

/** Padding **/
.Checkbox-Container[data-pad-x='sm'] {
    padding-left: 0.25rem;
    padding-right: 0.25rem;
}
.Checkbox-Container[data-pad-x='md'] {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}
.Checkbox-Container[data-pad-x='lg'] {
    padding-left: 1rem;
    padding-right: 1rem;
}
