
.FlexBox {
    display: flex;
    flex-direction: row;
}

/** Bottom Padding **/
.FlexBox[data-bottom-padding='1/4'] {
    margin-bottom: 25vh;
}
.FlexBox[data-bottom-padding='1/3'] {
    margin-bottom: 33.3333vh;
}
.FlexBox[data-bottom-padding='1/2'] {
    margin-bottom: 50vh;
}

/** Direction **/
.FlexBox[data-direction='row'] {
    flex-direction: row;
}
.FlexBox[data-direction='row-reverse'] {
    flex-direction: row-reverse;
}
.FlexBox[data-direction='col'] {
    flex-direction: column;
}
.FlexBox[data-direction='col-reverse'] {
    flex-direction: column-reverse;
}

/** Grow **/
.FlexBox[data-grow=true] {
    flex-grow: 1;
}

/** Justify **/
.FlexBox[data-justify='start'] {
    justify-content: flex-start;
}
.FlexBox[data-justify='end'] {
    justify-content: flex-end;
}
.FlexBox[data-justify='center'] {
    justify-content: center;
}
.FlexBox[data-justify='between'] {
    justify-content: space-between;
}
.FlexBox[data-justify='around'] {
    justify-content: space-around;
}
.FlexBox[data-justify='evenly'] {
    justify-content: space-evenly;
}
.FlexBox[data-justofy='stretch'] {
    justify-content: stretch;
}

/** Align items **/
.FlexBox[data-align='start'] {
    align-items: flex-start;
}
.FlexBox[data-align='end'] {
    align-items: flex-end;
}
.FlexBox[data-align='center'] {
    align-items: center;
}
.FlexBox[data-align='stretch'] {
    align-items: stretch;
}

/** Wrap **/
.FlexBox[data-wrap='wrap'] {
    flex-wrap: wrap;
}
.FlexBox[data-wrap='nowrap'] {
    flex-wrap: nowrap;
}
.FlexBox[data-wrap='reverse'] {
    flex-wrap: wrap-reverse;
}

/** Gap **/
.FlexBox[data-gap='xs'] {
    gap: 0.125rem;
}
.FlexBox[data-gap='sm'] {
    gap: 0.25rem;
}
.FlexBox[data-gap='md'] {
    gap: 0.5rem;
}
.FlexBox[data-gap='lg'] {
    gap: 1rem;
}
.FlexBox[data-gap='xl'] {
    gap: 2rem;
}
.FlexBox[data-gap='2xl'] {
    gap: 4rem;
}

/** Padding X **/
.FlexBox[data-padding-x='xs'] {
    padding-left: 0.125rem;
    padding-right: 0.125rem;
}
.FlexBox[data-padding-x='sm'] {
    padding-left: 0.25rem;
    padding-right: 0.25rem;
}
.FlexBox[data-padding-x='md'] {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}
.FlexBox[data-padding-x='lg'] {
    padding-left: 1rem;
    padding-right: 1rem;
}

/** Clickable **/
.FlexBox[data-clickable='true'] {
    cursor: pointer;
}