
.FlexBox {
    display: flex;
    flex-direction: row;
}

/** Bottom Padding **/
[data-bottom-padding='1/4'] {
    margin-bottom: 25vh;
}
[data-bottom-padding='1/3'] {
    margin-bottom: 33.3333vh;
}
[data-bottom-padding='1/2'] {
    margin-bottom: 50vh;
}

/** Direction **/
[data-col=true] {
    flex-direction: column;
}

/** Grow **/
[data-grow=true] {
    flex-grow: 1;
}

/** Justify **/
[data-justify='start'] {
    justify-content: flex-start;
}
[data-justify='end'] {
    justify-content: flex-end;
}
[data-justify='center'] {
    justify-content: center;
}
[data-justify='between'] {
    justify-content: space-between;
}
[data-justify='around'] {
    justify-content: space-around;
}
[data-justify='evenly'] {
    justify-content: space-evenly;
}
[data-justofy='stretch'] {
    justify-content: stretch;
}

/** Align items **/
[data-align='start'] {
    align-items: flex-start;
}
[data-align='end'] {
    align-items: flex-end;
}
[data-align='center'] {
    align-items: center;
}
[data-align='stretch'] {
    align-items: stretch;
}

/** Wrap **/
[data-wrap='wrap'] {
    flex-wrap: wrap;
}
[data-wrap='nowrap'] {
    flex-wrap: nowrap;
}
[data-wrap='reverse'] {
    flex-wrap: wrap-reverse;
}

/** Gap **/
[data-gap='xs'] {
    gap: 0.125rem;
}
[data-gap='sm'] {
    gap: 0.25rem;
}
[data-gap='md'] {
    gap: 0.5rem;
}
[data-gap='lg'] {
    gap: 1rem;
}
[data-gap='xl'] {
    gap: 2rem;
}
[data-gap='2xl'] {
    gap: 4rem;
}
