.TimelineBlock {
	--dot-size: 20px;

	width: 100%;
	position: relative;
}

ul,
form {
	display: flex;
	width: 100%;
}

button.AddFoodLog,
button.EditFoodLog {
	display: block;
	flex-grow: 1;
	background-color: var(--color-surface-muted);
    z-index: 1;

	&:hover {
		background-color: var(--color-surface-highlight);
		box-shadow: 0px 0px 10px 0px var(--color-shadow);
	}

	&:active {
		background-color: var(--color-surface-muted);
		box-shadow: 0px 0px 10px 0px var(--color-shadow);
	}

	li {
		position: relative;
		margin: 0;

		span {
			width: 120px;

			.time-dot {
				display: block;
				width: var(--dot-size);
				height: var(--dot-size);
				border-radius: 50%;
				background-color: var(--color-tertiary-light);
				box-shadow: 0 0 calc(var(--dot-size) / 2) var(--color-shadow-light);
				z-index: 2;
			}
		}
	}
}