.List {
	display: flex;
	flex-direction: column;
	background-color: var(--color-surface-muted);
	border-radius: 10px;
    width: 100%;
}

.List-Item {
	display: flex;
	align-items: center;
	justify-content: space-between;
    width: 100%;
}

/** Variants **/
.List[data-variant='base'] {
	gap: 0.3rem;

	.List-Item {
		padding: 0.3rem;
	}
}
.List[data-variant='compact'] {
	gap: 0.2rem;

	.List-Item {
		padding: 0.2rem;
	}
}
.List[data-variant='spacious'] {
	gap: 0.5rem;

	.List-Item {
		padding: 0.5rem;
	}
}

/** Divider **/
.List[data-divider='none'] .List-Item {
	border-bottom: none;
}
.List[data-divider='base'] .List-Item {
	border-bottom: 1px solid var(--color-surface);
    &:last-of-type {
		border-bottom: none;
	}
}
.List[data-divider='strong'] .List-Item {
	border-bottom: 2px solid var(--color-surface);
    &:last-of-type {
		border-bottom: none;
	}
}
