.List {
	display: flex;
	flex-direction: column;
	border-radius: 10px;
    width: 100%;
}

.List-Item {
	display: flex;
	justify-content: space-between;
    max-width: 100%;
    flex-grow: 1;
}

/** List Item Col **/
.List-Item[data-col='true'] {
    flex-direction: column;
}

/** List Item Align **/
.List-Item[data-align='left'] {
    justify-content: flex-start;
}
.List-Item[data-align='center'] {
    justify-content: center;
}
.List-Item[data-align='right'] {
    justify-content: flex-end;
}

/** Variants **/
.List[data-variant='base'] {
	.List-Item {
		padding-top: 0.1rem;
        padding-bottom: 0.1rem;
	}
}
.List[data-variant='compact'] {
	.List-Item {
		padding-top: 0.3rem;
        padding-bottom: 0.3rem;
	}
}
.List[data-variant='spacious'] {
	.List-Item {
		padding-top: 0.75rem;
        padding-bottom: 0.75rem;
	}
}
.List[data-variant='gap-tight'] {
    gap: 0.3rem;

    .List-Item {
		padding-top: 0.3rem;
        padding-bottom: 0.3rem;
    }
}
.List[data-variant='gap-loose'] {
    gap: 0.8rem;

    .List-Item {
		padding-top: 0.7rem;
        padding-bottom: 0.7rem;
    }
}

/** Backgrounds **/
.List[data-background='none'] {
    background: none;
}
.List[data-background='muted'] {
    background-color: var(--color-surface-muted);
}
.List[data-background='soft'] {
    background-color: var(--color-surface-soft);
}

/** Divider **/
.List[data-divider='none'] .List-Item {
	border-bottom: none;
}
.List[data-divider='base'] .List-Item {
	border-bottom: 1px solid var(--color-surface);
    &:last-of-type {
		border-bottom: none;
	}
}
.List[data-divider='strong'] .List-Item {
	border-bottom: 2px solid var(--color-surface);
    &:last-of-type {
		border-bottom: none;
	}
}
