.Button {
    position: relative;
	text-align: center;
    background-color: transparent;
	font-size: var(--font-size-md);
	font-weight: bold;
	cursor: pointer;
	user-select: none;
	/* no highlight */
	-webkit-tap-highlight-color: transparent;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
}

.content-with-icon {
    display: flex;
    align-items: center;
    justify-content: center;

    &[data-row-direction="right"] {
        flex-direction: row;
    }
    &[data-row-direction="left"] {
        flex-direction: row-reverse;
    }
}

/** Sizes */
.Button[data-size="flush"] {
    padding: 0;
}
.Button[data-size="xs"] {
    padding: 2px;
    font-size: var(--font-size-sm);
    
    .content-with-icon {
        gap: 0.2rem;
    }
}
.Button[data-size='sm'] {
	padding: 5px;
	font-size: var(--font-size-base);
    
    .content-with-icon {
        gap: 0.3rem;
    }
}
.Button[data-size='md'] {
	padding: 8px;
	font-size: var(--font-size-md);

    .content-with-icon {
        gap: 0.4rem;
    }
}
.Button[data-size='lg'] {
	padding: 10px;
	font-size: var(--font-size-lg);

    .content-with-icon {
        gap: 0.5rem;
    }
}


/** Variants */
.Button[data-variant='base'] {
}
.Button[data-variant='rounded'] {
    border-radius: 100%;
    background: none;
}
.Button[data-variant='muted'] {
    background: var(--color-surface-muted);
    color: var(--color-text-soft);
    font-weight: 400;
    &:hover {
        background-color: var(--color-surface-highlight);
        box-shadow: 0px 0px 10px 0px var(--color-surface-highlight);
	}
	&:active {
		background-color: var(--color-surface-highlight);
        box-shadow: 0px 0px 10px 0px var(--color-surface-muted);
	}
}
.Button[data-variant='primary'] {
    border-radius: 10px;
	background-color: var(--color-primary);
    color: var(--color-text-contrast);
    
	&:hover {
        background-color: var(--color-primary-light);
        box-shadow: 0px 0px 10px 0px var(--color-primary-light);
	}
	&:active {
		background-color: var(--color-primary-dark);
        box-shadow: 0px 0px 10px 0px var(--color-primary-dark);
	}
}
.Button[data-variant='secondary'] {
	border-radius: 10px;
    background-color: var(--color-secondary);
    color: var(--color-text-contrast);
    
	&:hover {
        background-color: var(--color-secondary-light);
        box-shadow: 0px 0px 10px 0px var(--color-secondary-light);
	}
	&:active {
		background-color: var(--color-secondary-dark);
        box-shadow: 0px 0px 10px 0px var(--color-secondary-dark);
	}
}
.Button[data-variant='icon'] {
	width: max-content;
	height: max-content;
	display: flex;
	align-items: center;
	justify-content: center;
	background: transparent;
}
