.Button {
	border: none;
	text-align: center;
	font-size: var(--medium-font-size);
	font-weight: bold;
	cursor: pointer;
}

/** Sizes */
.Button[data-size='sm'] {
    padding: 10px 20px;
    font-size: var(--small-font-size);
}
.Button[data-size='md'] {
    padding: 15px 30px;
    font-size: var(--medium-font-size);
}
.Button[data-size='lg'] {
    padding: 20px 40px;
    font-size: var(--large-font-size);
}

/** Variants */
.Button[data-variant='base'] {
    background: none;
    color: var(--color-text);
}
.Button[data-variant='primary'] {
    background: linear-gradient(170deg, var(--color-primary-dark), var(--color-secondary));
    border-radius: 10px;
    color: var(--color-text-contrast);

    &:hover {
        background: linear-gradient(
            170deg,
            var(--color-primary-light),
            var(--color-secondary-light)
        );
    }
    &:active {
        background: linear-gradient(
            170deg,
            var(--color-primary-dark),
            var(--color-secondary-light)
        );
    }
}
.Button[data-variant='secondary'] {
    background: linear-gradient(170deg, var(--color-secondary), var(--color-primary-dark));
    border-radius: 10px;
    color: var(--color-text-contrast);

    &:hover {
        background: linear-gradient(170deg, var(--color-secondary), var(--color-primary));
    }

    &:active {
        background: linear-gradient(170deg, var(--color-secondary-dark), var(--color-primary-light));
    }
}
.Button[data-variant='icon'] {
    width: max-content;
    height: max-content;
    display: flex;
    align-items: center;
    justify-content: center;
    background: transparent;
}