.Button {
	border: none;
	text-align: center;
	font-size: var(--medium-font-size);
	font-weight: bold;
	cursor: pointer;
	user-select: none;
	/* no highlight */
	-webkit-tap-highlight-color: transparent;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
}

.content-with-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;

    &[data-row-direction="right"] {
        flex-direction: row;
    }
    &[data-row-direction="left"] {
        flex-direction: row-reverse;
    }
}

/** Sizes */
.Button[data-size="flush"] {
    padding: 0;
}
.Button[data-size='sm'] {
	padding: 10px 20px;
	font-size: var(--small-font-size);
}
.Button[data-size='md'] {
	padding: 15px 30px;
	font-size: var(--medium-font-size);
}
.Button[data-size='lg'] {
	padding: 20px 40px;
	font-size: var(--large-font-size);
}


/** Variants */
.Button[data-variant='base'] {
	background: none;
}
.Button[data-variant='rounded'] {
    border-radius: 100%;
    background: none;
}
.Button[data-variant='primary'] {
    border-radius: 10px;
	background-color: var(--color-primary);
    color: var(--color-text-contrast);
    
	&:hover {
        background-color: var(--color-primary-light);
        box-shadow: 0px 0px 10px 0px var(--color-primary-light);
	}
	&:active {
		background-color: var(--color-primary-dark);
        box-shadow: 0px 0px 10px 0px var(--color-primary-dark);
	}
}
.Button[data-variant='secondary'] {
	border-radius: 10px;
    background-color: var(--color-secondary);
    color: var(--color-text-contrast);
    
	&:hover {
        background-color: var(--color-secondary-light);
        box-shadow: 0px 0px 10px 0px var(--color-secondary-light);
	}
	&:active {
		background-color: var(--color-secondary-dark);
        box-shadow: 0px 0px 10px 0px var(--color-secondary-dark);
	}
}
.Button[data-variant='icon'] {
	width: max-content;
	height: max-content;
	display: flex;
	align-items: center;
	justify-content: center;
	background: transparent;
}
