.Select-Label {
	display: flex;
	flex-direction: column;
	gap: var(--input-label-gap);

	select {
		cursor: pointer;
		background-color: var(--color-surface-muted);
		border: var(--input-border);
        box-sizing: border-box;
		color: var(--color-text);
		padding: var(--input-padding);
		border-radius: var(--input-border-radius);
		height: var(--input-height);
		font-size: var(--font-size-base);
        line-height: 1rem;
        margin: 0;
	}
	& select:hover {
		border: var(--input-border-hover);
	}
	& select:focus {
		border: var(--input-border-focus);
	}
}

/** Sizes **/
.Select-Label[data-size='sm'] {
	width: 120px;
}
.Select-Label[data-size='md'] {
	width: 200px;
}
.Select-Label[data-size='lg'] {
	width: 300px;
}

/** Flex Grow **/
.Select-Label[data-flex-grow='true'] {
    flex-grow: 1;

    select {
        width: 100%;
    }
}

/** Full Width **/
.Select-Label[data-full-width='true'] {
	width: 100%;

    select {
        width: 100%;
    }
}