.Logo {
	padding: 0.1rem 0.5rem;
	border: 2px solid var(--color-surface-contrast);
	border-radius: 10rem;

	h4 {
		color: var(--color-text);
	}

    &:hover {
        background-color: var(--color-surface-contrast);
        box-shadow: 0 0 10px var(--color-shadow-light);
        
        h4 {
            color: var(--color-text-contrast);
        }
        .Icon {
            color: var(--color-text-contrast);
        }
    }

    &:active {
        background-color: var(--color-surface-contrast);
    }
}

/** Sizes **/
.Logo[data-size='sm'] {
	margin: 0.125rem;
	border-width: 1px;
    h4 {
        font-size: var(--font-size-sm);
    }
}
.Logo[data-size='md'] {
	margin: 0.25rem;
	border-width: 2px;
    h4 {
        font-size: var(--font-size-md);
    }
}
.Logo[data-size='lg'] {
	margin: 0.5rem;
	border-width: 4px;
    h4 {
        font-size: var(--font-size-lg);
    }
}
