
.Logo {
    --height: 40px;
    --width: 150px;

    height: var(--height);
    width: var(--width);
    border: 2px solid var(--color-surface-contrast);
    border-radius: calc(var(--height) / 2);
    display: flex;
    align-items: center;
    justify-content: center;

    h2 {
        font-size: 20px;
        font-optical-sizing: auto;
        text-transform: lowercase;
        color: var(--color-surface-contrast);
    }

    &[data-size=sm] {
        margin: 0.125rem;
        border-width: 1px;
    }

    &[data-size=md] {
        margin: 0.25rem;
        border-width: 2px;
    }

    &[data-size=lg] {
        margin: 0.5rem;
        border-width: 4px;
    }
}