.Overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--color-surface);
    opacity: 0.8;
    z-index: var(--z-index-overlay);
    display: flex;
    justify-content: center;
    align-items: center;
}

[data-position="absolute"] {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}