.Divider {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 0.5rem;

    .Text {
        /* nowrap */
        white-space: nowrap;
        width: auto;
    }
}

.line {
    flex-grow: 1;
    height: 1px;
}

/** Margins (on container) **/
.Divider[data-margin='sm'] {
	margin: 2px 0;
}
.Divider[data-margin='md'] {
	margin: 6px 0;
}
.Divider[data-margin='lg'] {
    margin: 12px 0;
}

/** Color **/
.line[data-color='muted'] {
	background-color: var(--color-surface-muted);
}
.line[data-color='highlight'] {
	background-color: var(--color-surface-highlight);
}
.line[data-color='primary'] {
	background-color: var(--color-primary);
}
