
.MainLayout {
    width: 94vw;
    max-width: var(--global-max-width);
    margin: 0 auto;
    min-height: 100vh;
}

.MainLayout-Header {
    height: var(--header-height);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    z-index: var(--z-index-notification);

    & > .Logo-Container {
        grid-column: 2;
        height: 100%;
        justify-content: center;
        position: relative;
        z-index: var(--z-index-top);

        & > * {
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
        }
    }

    & > .Menu-Container {
        grid-column: 3;
        height: 100%;
        position: relative;
        
        & > * {
            position: absolute;
            right: 0%;
            top: 50%;
            transform: translateY(-50%);
            z-index: var(--z-index-top);
        }
    }

}

.MainLayout-Content {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

