.Input-Label {
	display: flex;
	flex-direction: column;
	gap: var(--input-label-gap);

	input {
		background-color: var(--color-surface-muted);
		border: var(--input-border);
        box-sizing: border-box;
		color: var(--color-text);
		font-size: var(--md-font-size);
		padding: calc(var(--input-padding) + 0.5px); /* added 0.5px to make same height as select */
		border-radius: var(--input-border-radius);
		height: var(--input-height);
        width: 100%;
	}
	& input:hover {
		border: var(--input-border-hover);
	}
	& input:focus {
		border: var(--input-border-focus);
	}
}

.InputWithIcon {
	display: flex;
	align-items: center;
	background-color: var(--color-surface-muted);
	padding: calc(var(--input-padding) + 0.5px); /* added 0.5px to make same height as select */
	border: var(--input-border);
	border-radius: var(--input-border-radius);
	height: var(--input-height);
	color: var(--color-text);
	gap: 0.5rem;

	input {
		background: none;
		border: none;
		padding: 0;
		height: 100%;
	}

	&:hover {
		border-color: var(--input-border-hover);
	}
	&:focus {
		border-color: var(--input-border-focus);
	}
}

/** Flex Grow **/
.Input-Label[data-flex-grow='true'],
.InputWithIcon[data-flex-grow='true'] {
    flex-grow: 1;

    input {
        width: 100%;
    }
}

/** Full Width **/
.Input-Label[data-full-width='true'],
.InputWithIcon[data-full-width='true'] {
	width: 100%;

    input {
        width: 100%;
    }
}


input[type="date"]::-webkit-calendar-picker-indicator {
    filter: invert(0.9);
    cursor: pointer;
    scale: 1.4;
}