.Input {
	display: flex;
	flex-direction: column;
    text-transform: uppercase;
	gap: var(--input-label-gap);
	font-weight: 600;
	font-family: var(--font-primary);
	color: var(--color-primary);

	input {
		background-color: var(--color-surface-contrast);
		border: var(--input-border);
		color: var(--color-text-contrast);
		font-size: var(--md-font-size);
		padding: calc(var(--input-padding) + 0.5px); /* added 0.5px to make same height as select */
		border-radius: var(--input-border-radius);
		height: var(--input-height);
	}
	& input:hover {
		border: var(--input-border-hover);
	}
	& input:focus {
		border: var(--input-border-focus);
	}
}

.InputWithIcon {
	display: flex;
	align-items: center;
	background-color: var(--color-surface-contrast);
    padding: calc(var(--input-padding) + 0.5px); /* added 0.5px to make same height as select */
	border: var(--input-border);
    border-radius: var(--input-border-radius);
    height: var(--input-height);
	color: var(--color-text-contrast);
	gap: 0.5rem;

	input {
        background: none;
        border: none;
        padding: 0;
        height: 100%;
	}

	&:hover {
		border-color: var(--input-border-hover);
	}
	&:focus {
		border-color: var(--input-border-focus);
	}
}
